@model PaginatedList<SofTechCore21MVC.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<header class="jumbotron">
    <h2>List Of All Customers</h2>
    <p>Staff can use this page to check customer details and to sort out any customer issues with their personal details.</p>
</header>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a class="btn btn-info" asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table table-bordered table-hover">
    <thead class="bg-info">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">First Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Surname</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData[SofTechCore21MVC.Controllers.CustomersController.BIRTH_DATE_SORT_PARAM]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Birth Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GenderSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Gender</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Email</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PhoneNumberSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Phone Type</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TelephoneNoSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Phone Number</a>
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneNo)
            </td>
            <td>
                <a class="btn btn-success" Edit" asp-route-id="@item.CustomerID">Edit</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.CustomerID">Details</a>
                <a class="btn btn-warning" asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>